<div class="row my-2">
  <!-- Name Filter -->
  <div class="col">
    <label>Search by name</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search task..."
        name="name"
        [(ngModel)]="filters.name"
      />
    </div>
  </div>

  <!-- Status Filter -->
  <div class="col-md-3">
    <div class="form-group">
      <label>Task Status:</label>
      <select class="form-select" name="status" [(ngModel)]="filters.status">
        <option disabled>Select Status:</option>
        <option value="ALL">All</option>
        <option value="COMPLETE">Complete</option>
        <option value="INCOMPLETE">Incomplete</option>
      </select>
    </div>
  </div>

  <!-- Priority Filter -->
  <div class="col-md-3">
    <div class="form-group">
      <label>Priority Status:</label>
      <select
        class="form-select"
        name="priority"
        [(ngModel)]="filters.priority"
      >
        <option disabled>Select Priority:</option>
        <option value="ALL">All</option>
        <option value="LOW">Low</option>
        <option value="NEUTRAL">Neutral</option>
        <option value="HIGH">High</option>
      </select>
    </div>
  </div>

  <!-- Reset Filter Button -->
  <div class="col-md-1">
    <div class="form-group">
      <label></label>
      <div class="input-group">
        <button
          class="btn btn-light"
          title="Clear Filters"
          (click)="resetFilters()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
          >
            <path
              d="m592-481-57-57 143-182H353l-80-80h487q25 0 36 22t-4 42L592-481ZM791-56 560-287v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L56-791l56-57 736 736-57 56ZM535-538Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
