<!-- ID -->
<th scope="row">{{ i + 1 }}</th>

<!-- Name -->
<td>{{ task.name }}</td>

<!-- Priority -->
<td>
  <span
    class="badge rounded-pill text-uppercase font-weight-bold"
    [ngClass]="{
      'bg-primary': task.priority === 'HIGH',
      'bg-success': task.priority === 'LOW',
      'bg-warning': task.priority === 'NEUTRAL'
    }"
    >{{ task.priority }}
  </span>
</td>

<!-- Status -->
<td>
  <span
    class="badge text-uppercase"
    [ngClass]="{
        'bg-primary': task.status === 'INCOMPLETE',
        'bg-success': task.status === 'COMPLETE',
      }"
    >{{ task.status }}</span
  >
</td>

<!-- Date -->
<td>{{ task.date | date: "mediumDate" }}</td>

<!-- Actions -->
<td class="d-flex gap-2">
  <!-- Mark as undone -->
  <button
    type="button"
    class="btn btn-primary btn-sm"
    *ngIf="task.status === 'COMPLETE'; else completeBtn"
    (click)="updateStatusHandler(task.id)"
  >
    Mark as undone
  </button>

  <!-- Mark as done -->
  <ng-template #completeBtn>
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="updateStatusHandler(task.id)"
    >
      Mark as done
    </button>
  </ng-template>

  <!-- Edit -->
  <button
    type="button"
    class="btn btn-info btn-sm"
    (click)="editTaskHandler(task.id)"
    data-bs-toggle="modal"
    data-bs-target="#taskModal"
    *ngIf="task.status === 'INCOMPLETE'"
  >
    Edit
  </button>

  <!-- Delete -->
  <button
    type="button"
    class="btn btn-danger btn-sm"
    (click)="deleteTaskHandler(task.id)"
  >
    Delete
  </button>
</td>
