.custom-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em !important;
  height: 3.5em !important;
  border-radius: 50%;
  background-color: var(--bs-light);
  fill: var(--bs-pink);
  border: none;
}

.custom-btn:hover {
  background-color: var(--bs-gray-400);
}
