<div class="my-2">
  <h4 class="text-uppercase">Tasks List</h4>
  <app-filters (taskStatus) ="setTaskStatus($event)"/>
  <table
    class="table table-hover"
    *ngIf="taskList.length > 0; else taskNotFound"
  >
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of taskList | taskStatusFilter: taskStatus; let i=index">
      <tr class="table-light" *ngIf="taskList.length > 0">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ task.name }}</td>
        <td>
          <span
            class="badge rounded-pill text-uppercase font-weight-bold"
            [ngClass]="{
              'bg-primary': task.priority === 'high',
              'bg-success': task.priority === 'low',
              'bg-warning': task.priority === 'neutral'
            }"
            >{{ task.priority }}
          </span>
        </td>
        <td>
          <span
            class="badge text-uppercase"
            [ngClass]="{
            'bg-primary': task.status === 'incomplete',
            'bg-success': task.status === 'complete',
          }"
            >{{ task.status }}</span
          >
        </td>
        <td>{{ task.date | date: "mediumDate" }}</td>
        <td class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            *ngIf="task.status === 'complete'; else completeBtn"
            (click)="updateStatusHandler(task.id)"
          >
            Mark as undone
          </button>
          <ng-template #completeBtn>
            <button
              type="button"
              class="btn btn-success btn-sm"
              (click)="updateStatusHandler(task.id)"
            >
              Mark as done
            </button>
          </ng-template>

          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteTaskHandler(task.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #taskNotFound>
    <div class="alert alert-dismissible alert-primary">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      No Task Found
    </div>
  </ng-template>
</div>
